body {
    font-family: 'Inter';font-size: 22px;
}
header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.welcome {
    font-weight: 600;
}


@media screen and (max-width: 500px) {
}