body {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.welcome {
  font-weight: 600;
  text-decoration: none;
  color: #28352f;
  animation-duration: 1.5s;
  animation-name: zoom;
}

@keyframes zoom {
  from {
    transform: scale(2);
    margin-left: 50px;
  }

  to {
    transform: scale(1);
    margin-left: 0;
  }
}

.topNavigation {
  display: none;
}

#headline {
  background-image: url('./assets/header-illsutration-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headlineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.titleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleContainer h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
}

.titleContainer h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 15px;
  color: #098936;
  width: 70%;
  background-color: white;
}

.headlineDescription p {
  line-height: 28px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #172b4d;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  background-color: white;
}

.headlineDescription h3 {
  line-height: 52px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  gap: 16px;
}

.socialLinks li {
  transition: all 0.3s ease-in;
}

.projectCategories li {
  margin: 5px;
  height: 20px;
  padding: 5px;
  background-color: #ebf0ee;
  outline: none;
  border-radius: 4px;
  border-color: transparent;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
}

.bio-card-tags li {
  background-color: white;
  color: #098936;
  padding: 12px;
  text-transform: capitalize;
}

#works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrowBtn {
  width: 42px;
  border: 1px solid #dfe1e6;
  border-radius: 50px;
  background-color: white;
  color: #172b4d;
  font-size: 35px;
  cursor: pointer;
  outline: none;
  margin: 0 auto;
  margin-top: 40px;
  transition: all 0.5s ease-in;
}

.arrowBtn:hover {
  outline: none;
  color: rgb(16, 185, 81);
}

.blueTitleText {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  width: 60%;
}

.divider {
  background-color: rgb(16, 185, 81);
  width: 15%;
  border-radius: 20px;
  height: 6px;
  margin: auto;
  margin-bottom: 32px;
}

.grid-card-container {
  width: 90%;
  display: grid;
  margin: auto;
  grid-row-gap: 40px;
  padding-left: 0;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  height: 474px;
  width: 100%;
  margin: auto;
  flex: -1;
  border-radius: 8px;
  border-color: #28352f;
  border-width: 5px;
}

.project-card .projectImage {
  flex: 1 0 38%;
  background-color: #ebf0ee;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cardTitle {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #3a4a42;
  margin-bottom: 0;
}

.projectCategories {
  flex: 1 0 12%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  list-style-type: none;
  padding-left: 0;
}

.seeProjectContainer {
  display: flex;
  justify-content: center;
}

.project-card .seeProjectContainer {
  align-items: center;
  flex: 1 0 15%;
  margin: auto;
}

.seeProjectBtn {
  background-color: #098936;
  padding: 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  color: white;
  outline: none;
  border-color: transparent;
  transition: all 0.3s ease-in;
}

.seeProjectBtn:hover {
  background-color: #172b4d;
}

.bioIntroduction {
  background-image: url('./assets/illustration-about.svg'), url('./assets/2ilustation.svg');
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 45px;
}

.aboutme {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
  color: #172b4d;
  background-color: white;
}

.aboutmeDescription {
  line-height: 32px;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  color: #172b4d;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  background-color: white;
}

.resumeBtn {
  display: flex;
  justify-content: center;
  position: relative;
  top: -55px;
}

.blue {
  color: #344563;
}

.lang-card {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  height: 352px;
  width: 100%;
  background-color: #ebf0ee;
  margin: auto;
  border-radius: 8px;
  border-color: #28352f;
  border-width: 5px;
  align-items: center;
  justify-content: center;
}

.lang-images-container {
  flex: 1 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-images-container span {
  background-color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-card-tags {
  flex: 1 0 25%;
  align-content: center;
  justify-content: center;
}

form {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: 0;
  width: 90%;
}

.nameInputs {
  display: none;
}

input {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  margin-bottom: 24px;
  color: #6b778c;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

input:focus:invalid {
  box-shadow: 0 0 5px 1px red;
  outline: none;
}

input:focus:valid {
  box-shadow: 0 0 5px 1px green;
  outline: none;
}

textarea {
  color: #091e42;
  font-weight: 400;
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  height: 114px;
  border: 1px solid #60c095;
  border-radius: 4px;
}

.bottom-email {
  margin-bottom: 80px;
}

.bottom-email p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #42526e;
  line-height: 32px;
}

.sidebar {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.sidebar-content {
  background-color: #fefefe;
  margin: 15% auto;
  margin-top: 0;
  padding: 20px;
  height: 100%;
}

.sidebar-content ul {
  margin-top: 3rem;
}

.sidebar-content ul > li {
  list-style: none;
  margin-bottom: 2rem;
}

.sidebar-content ul > li > a {
  text-decoration: none;
  color: #3a4a42;
  font-weight: 600;
  font-size: 25px;
}

.socialLinks li:hover {
  transform: scale(1.5);
}

.close-sidebar {
  color: #67798e;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-sidebar:hover,
.close-sidebar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.projectModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.projectModal-content {
  background-color: #fefefe;
  margin: 15% auto;
  margin-top: 0;
  padding: 20px;
  height: 100%;
}

@media screen and (min-width: 992px) {
  #headline {
    height: 145vh;
    background-image: url('./assets/header-llustration.svg');
  }

  .navbar {
    justify-content: center;
    gap: 32px;
  }

  .topNavigation {
    display: block;
    text-decoration: none;
    color: #344563;
    font-weight: 600;
    font-size: 15px;
  }

  .menuIcon {
    display: none;
  }

  .welcome {
    display: none;
  }

  .titleContainer h1 {
    font-size: 48px;
  }

  .titleContainer h2 {
    font-size: 48px;
    width: 100%;
  }

  .headlineDescription p {
    width: 65%;
  }

  .headlineDescription h3 {
    background-color: white;
  }

  .headlineContainer {
    margin-top: 0;
    margin-bottom: 200px;
  }

  .arrowBtn {
    margin-top: 60px;
  }

  .divider {
    display: none;
  }

  .blueTitleText {
    width: 100%;
  }

  .grid-card-container {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
  }

  .project-card {
    transition: all 0.3s ease-in;
  }

  .project-card:hover {
    transform: scale(1.2);
  }

  .project-card .projectImage {
    flex: 1 0 45%;
  }

  .projectModal {
    width: 60%;
    height: 60%;
  }

  .aboutmeDescription {
    width: 60%;
  }

  #contact {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25vh;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 20vh;
    background-image: url('./assets/ilustration-left-contact.svg'), url('./assets/ilustration-contact.svg'), url('./assets/ilustration-right-contact.svg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left bottom, 25% 65%, right;
  }

  #contact h3 {
    flex: 50%;
    font-size: 30px;
  }

  form {
    align-items: flex-start;
  }

  #contact form {
    flex: 50%;
  }

  .seeProjectContainer {
    padding-left: 16.5px;
  }

  .fullname {
    display: none;
  }

  .nameInputs {
    display: flex;
    flex-wrap: wrap;
  }

  .nameInputs input {
    flex: 50%;
  }

  .bottom-email {
    display: none;
  }

  footer {
    border-top: 2px solid #dfe1e6;
  }
}
