body {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.welcome {
  font-weight: 600;
  text-decoration: none;
  color: #28352f;
}

#headline {
  background-image: url('./assets/header-illsutration-mobile.svg');
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
}

.titleContainer h3 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 15px;
  color: rgb(16, 185, 81);
}

.headlineDescription p {
  line-height: 28px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #172b4d;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}

.socialLinks {
  display: flex;
  justify-content: center;
}

.socialLinks a {
  margin-right: 20px;
}

#works {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#works .arrowBtn {
    width: 42px;
    border: 1px solid #DFE1E6;
    border-radius: 50px;
    background-color: white;
    color: #172B4D;
    font-size: 35px;
    cursor: pointer;
    outline: none;
    margin: auto;
}
#works .arrowBtn:hover {
  outline: none;
  color: rgb(16, 185, 81);
  
}

.blueTitleText {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
}

.divider {
  background-color: rgb(16, 185, 81);
  width: 15%;
  border-radius: 20px;
  height: 6px;
  margin: auto;
  margin-bottom: 32px;
}

.grid-card-container {
  width: 90%;
  display: grid;
  margin: auto;
  grid-row-gap: 40px;
  padding-left: 0;
}

#project-card {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  height: 474px;
  width: 100%;
  margin: auto;
  flex: -1;
  border-radius: 8px;
  border-color: #28352f;
  border-width: 5px;
}

#project-card .projectImage {
  flex: 1 0 35%;
  background-color: #EBF0EE;
  border-top-left-radius: 8px;
  border-top-Right-radius: 8px;
}

#project-card .projectTitle p {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #3A4A42;
  margin-bottom: 0;
}

#project-card .projectCategories {
  flex: 1 0 12%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  list-style-type: none;
  padding-left: 0;
}

#project-card .projectCategories li {
    margin: 5px;
    height: 20px;
    padding: 5px;
    background-color: #EBF0EE;
    outline: none;
    border-radius: 4px;
    border-color: transparent;
    padding: 8px, 12px, 8px, 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #3A4A42;
}

#project-card .seeProjectContainer {
  align-items: center;
  flex: 1 0 15%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.seeProjectBtn {
  background-color: rgb(16, 185, 81);
  padding: 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  color: white;
  outline: none;
  border-color: transparent;
}

.seeProjectBtn:hover {
  background-color: #172B4D;
}

.bioIntroduction {
  background-image: url('./assets/illustration-about.svg'), url('./assets/2ilustation.svg');
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;

}

.aboutme {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
  color: #172B4D;
}

.aboutmeDescription {
  line-height: 32px;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  color: #172b4d;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}

.resumeBtn {
  display: flex;
  justify-content: center;
  position: relative;
  top: -46px;
}

#lang-card {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  height: 352px;
  width: 100%;
  background-color: #C1C7D0;
  margin: auto;
  flex: -1;
  border-radius: 8px;
  border-color: #28352f;
  border-width: 5px;
  align-items: center;
}

.lang-images-container {
  background-color: #EBF0EE;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

